/** Color **/
$color-logo: #fff;
$color-text: #202020;
$color-link-default: #b21358;
$color-link: #ff1167;
$color-not-important: #48424a;
$color-background-body: #efeeee;
$color-category: #fff;

/** Fonts **/
$roboto-regular: 'Roboto-Regular', Arial, sans-serif;
$roboto-medium: 'Roboto-Medium', Arial, sans-serif;
$roboto-light: 'Roboto-Light', Arial, sans-serif;
$roboto-bold: 'Roboto-Bold', Arial, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$old-standart-bold: 'OldStandardTT-Bold', Arial, sans-serif;

/** SIZES **/
$width-small: 600px;
$width-medium: 1080px;

$width-tablet-smile: 800px;
$width-tablet-large: 1190px;

/** SIZES_transition-for_table **/
$width-transition-table-large: 1070px;
$width-transition-table-smile: 940px;
$width-tarinsition-to-table: 855px;
$width-transition-table: 830px;
$width-transition-table-to-mobile: 720px;
$width-transition-table-img: 870px;

/** SIZES_mobile **/
$width-mobile-large: 750px;
$width-mobile: 500px;
