.kin-box{
    padding: 10px;
    border: 1px solid #ddd;
}
.kin-box li {
    list-style-type: none;
}
select{
    width: 100%;
    display: block;
}

.addButton {
    bottom: 10%;
    right: 10%;
    position: fixed;
}
.mdl-textfield{
    width: 100%;
}
.inputBlock{
    width: 100%;
}
.mdl-data-table td, .mdl-data-table th {
    text-align: left;
}
.boardColumn {
    padding: 5%;
    min-height: 20px;
    background: #ebebeb;
    /*text-align: left;*/
    cursor: move;
}
.issueColumns{
    border: 1px solid #96c8ff;
    background: #fdfdfd;
    border-radius: 3px;
    min-height: 40px;
}

.projectNameOnTask{
    text-align: right;
}
ul{
    list-style: none;
}

.highlight {
    border: 1px solid #3081f0;
    font-weight: bold;
}
.account{

}
.permissionForm{
    min-width: 400px;
}
.dialogAccount{

    display: none;
    position: absolute;
    z-index: 1001;
    left: 0px;
    right: 0px;
    top: 10%;
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    color: black;
    margin: auto;
    padding: 1em;
    background: white;
}
.showCompanies{
    position: fixed;
    left: 70%;
}
.showPermission{
    font-size: 12px;
}